<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!--displaying java objects on the UI through the defined model attribute carriers in the Controller
model attributes (java objects carriers) that come from the controller are enclosed by ${}
any messages are enclosed by 'msg'-->
<h2 th:text="${'Name: ' + name}"></h2>
<h2 th:text="${'Course: ' + course}"></h2>
<h2 th:text="${'Subject: ' + subject}"></h2>
<h2 th:text="${'Random ID: ' + id}"></h2>
<h2 th:text="${'4th number: ' + numbers.get(3)}"></h2>
<h2 th:text="${'First Name: ' + student.getFirstName()}"></h2>
<h2 th:text="${'Last Name: ' + student.lastName}"></h2>

<!--Other way of displaying-->
Name: <h2 th:text="${name}"></h2>
Course: <h2 th:text="${course}"></h2>
Subject: <h2 th:text="${subject}"></h2>

<!--To display links and switch to other page either pass the url or endpoint into the @{}-->
<a th:href="@{https://www.google.com}">Google</a>
<br>
<a th:href="@{/m1/mentor}">Mentors</a>
<br>
<a th:href="@{/m1/mentor(mentor=James)}">Get Mentor</a>
</body>

</html>