<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!--displaying java objects on the UI through the defined model attribute carriers in the Controller
model attributes (java objects carriers) that come from the controller are enclosed by ${}-->
<h2 th:text="${name}"></h2>
<h2 th:text="${course}"></h2>
<h2 th:text="${subject}"></h2>
<h2 th:text="${id}"></h2>
<h2 th:text="${numbers.get(3)}"></h2>
<h2 th:text="${student.getFirstName()}"></h2>
<h2 th:text="${student.lastName}"></h2>

</body>

</html>